*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif ;

}



li{
	font-size: 1.5rem;
}
a{
	color :#fff;
	text-decoration: none;
}
h1{
	font-size: 2.6rem;
}
h2{
	font-size: 2rem;
}
.main-header {

	background: #253858;
	color : #fff;
	position: absolute;
	width: 100%;
}


nav{
	min-height: 10vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 5px;
	margin: auto;
	width: 90%;
	flex-wrap: wrap;


}
nav img{
	display: flex;
	height: 60px;


}

nav ul {
	margin-left: 30%;
	display: flex;
	flex : 1 1 40rem;
	justify-content: space-around;
	align-items: center;
	list-style: none;
}
.container{
	min-height: 90vh;
	background: linear-gradient(rgba(0,0,0,0.4),transparent),url("../image/uni.jpeg");
	background-size: cover;
	background-position: bottom;
	color:#ffffff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.login_form{
	margin-top: 5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-bottom: 45px;
}

.login_form input{
	font-family: 'Open Sans', sans-serif ,Mulish;
	font-size: 18px;
	line-height: 20px;
	color: #464646;
	margin: 12px;
	border-radius: 40px;
	background: #E4EBF7;
	outline: none;
	border:none;
	position: static;
	height : 48px;
	width : 380px;
	padding: 20px;
}

.login_form button{
	align-items: center;
	width: 150px;
	height: 50px;
	color : #E4EBF7;
	margin: 15px;
	background: #253858;
	border-radius: 25px;
	outline: none;
	border:none;
	font-size: 1rem;
	transition-duration: .4s;
}
.login_form button:hover{
	background: #104E8B;
}
.login_form #email_error,
.login_form #pass_error{
	margin : 12px;
	width: 380px;
	font-size: 18px;
	color: #C62828;
	background: #EF9A9A;
	text-align: center;
	padding: 5px 8px;
	border-radius: 25px;
	border: 1px solid #EF9A9A;
	display: none;
}
.newUser{
	display: flex;
	justify-content: space-evenly;
	align-self: center;
}
.newUser p{
	color: #ffffff;
	margin: 12px;
	font-size: 18px	;
	padding: 5px 8px;
}
.newUser a{
	color: dodgerblue;
	margin: 12px;
	font-size: 18px	;
	padding: 5px 8px;
}

